@charset "utf-8";
/* CSS Document */
body{background: #E6E6E6 url(../img/bg.jpg) repeat-x ;width: 1024px;margin:0 auto;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;line-height:18px;color:#333333;}
header{
	width: 100%;
	height: 182px;
}
.s4-signInLink{
	margin:0px 0px;
	color:#fff !important;
}
.site-image-title {
	float: left;
	padding-left: 0px;
	padding-right: 10px;
}
.s4-trc-container-menu {
	height: auto;
	margin-top: 12px;
	float: right;
	margin: 12px 3px;
}
#menu {
	background-image: url("../images/bg_menu92.png");
	clear: both;
	width: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	height: 30px;
	z-index: 99;
}

#menu>ul>li{
	list-style: none;
	float: left;
	padding: 5px 7px;

	border-right: 1px #48B0BE solid;
}
#menu>ul>li>a {
	font-size: 10pt;
	color: white !important;
	vertical-align: middle;
	text-align: center;
	outline: none;
	white-space: nowrap;
}
#menu ul li:hover{
	color:#FFFFFF !important;
	background-image:  url(../images/bg-activetop.png);
	background-repeat:repeat-x;
	background-position:center;
}
#wrapper{
	padding: 12px;
}
#slider {
	min-height: 130px;
	width: 100%;
}
#main-content{
	width: 100%;
	min-height: 500px;
}
#left-content{
margin: 5px 5px 5px 0px; float:left; width:175px;padding-bottom: 5px;
}
.box { margin-bottom:5px;  border-bottom:1px solid #999;  background: url(../images/bg-box.png) repeat-y }
.box p {padding:0 8px; text-align:left; float:left}
.box span {text-align:left; float:left; font-size:10px}
.box h3 {text-align:center ; color:#fff; background: url(../images/bg-tt.png) no-repeat; margin:0 0 0px 0;  font-size:11px; text-transform:uppercase}
#content {float:left; width:615px; background:#fff; border:1px solid #6EB6ED; padding:12px 12px; margin:5px 0 5px 0; font-size:12px}
#right-content {width: 175px; float:right; padding:0px; border:0px solid #6EB6ED; margin-top: 5px}
#right-content .hotline {font-size:25px; color:#ED2026}
footer {width:100%; border-top:1px solid #6EB6ED; text-align:center; font-weight:normal; color:#999999; line-height:20px; margin:3px 0px 0 0; font-size:11px; padding:15px 0}
.News_Link {
color: #6D6F71 !important;
font-family: Arial,Helvetica,sans-serif !important;
font-size: 11px !important;
font-weight: normal;
}
#content .hotnew2 {float:left; width:618px; text-align:center; font-weight:bold; color:#fff; padding:10px 0 0 0; margin:3px 0 0 0; font-size:21px}
#content .ttnoibat {float:left; width:300px;  border:1px solid #B6CFD3; margin:3px 0 0 0; background:#fff}
#content .hotnew {float:left; width:615px; min-height:310px;  border:1px solid #B6CFD3; margin:8px 0 0 0; background:#fff}
.tt-tintucnoibat {position:absolute; background:url(../images/bg-div.png) left top repeat-x; text-transform:uppercase; font-size:15px; font-weight:bold; width:300px; height:26px; font-family:Verdana; padding-top:4px; text-align:center; vertical-align:middle; color:#fff}
.tt-tintucnoibat0 {padding-left: 5px; position:absolute; background:url(../images/bg-div.png) left top repeat-x; text-transform:uppercase; font-size:15px; font-weight:bold; width:295px; height:26px; font-family:Verdana; padding-top:4px; text-align:center; vertical-align:middle; color:#fff}
.tt-hangtau {position:relative; background:url(../images/bg-div.png) left top repeat-x; text-transform:uppercase; font-size:15px; font-weight:bold; width:900px; height:26px; font-family:Verdana; padding-top:4px; text-align:center; vertical-align:middle; color:#fff}
.tt-hotnew {padding-left: 5px; position:absolute; background:url(../images/bg-div.png) left top repeat-x; text-transform:uppercase; font-size:15px; font-weight:bold; width:610px; height:26px; font-family:Verdana; padding-top:4px; text-align:center; vertical-align:middle; color:#fff}
ul.noibat1 {list-style:none; margin:45px 0 0 0; padding:0 0 0 20px}
ul.noibat1 li {background:url(../images/icon2.png) left no-repeat; padding:0 0 0 18px ; line-height:47px; font-weight:bold; font-size:15px}
ul.noibat2 {list-style:none; margin:38px 0 0 0; padding:10px 0 10px 20px;}
ul.noibat2 li {background:url(../images/icon3.png) no-repeat scroll left 6px transparent; padding:0 0 10px 18px ; line-height:20px; text-transform:uppercase; font-weight:bold;font-size:12px}

#content .hotrokhachhang {float:right; width:300px;  border:1px solid #B6CFD3; margin:3px 0 0 0;}
#left-content .box ul {
margin: 5px 8px 0 20px;
padding: 0;
float: left;
list-style: none;
}
.box1 {
border-bottom: 1px solid #999;
margin: 0 0 5px 0;
float: left;
background: url(../images/bg-box1.png) 0 0 repeat-y;
}
#right-content h3 {
text-align: center;
color: #fff;
background: url(../images/bg-tt1.png) no-repeat;
margin: 0 0 0px 0;
font-size: 11px;
text-transform: uppercase;
}
.box2 {
border-bottom: 1px solid #999;
margin: 0 0 5px 0;
float: left;
width: 182px;
background: url(../images/bg-box1.png) 0 0 repeat-y;
}
.box2 ul li {
margin: 0;
padding: 0 0 5px 15px;
float: left;
background: url(../images/icon1.png) left no-repeat;
font-weight: bold;
color: #6D6F71;
width: 150px;
}
.box2 ul li a{
font-size: 8pt;
}
.box2 ul {
margin: 8px 8px 8px 15px;
padding: 0;
float: left;
list-style: none;
}

#menu>ul>li {position: relative;}
#menu>ul>li>ul{list-style:none; z-index:99; }
#menu>ul>li>ul{ display: none; position: absolute;top: 27px; left: 0px;
font-family: tahoma;
font-size: 8.5pt;
background-color: #D0FCED;
color: #209abc !important;
min-width: 150px;
}
#menu>ul>li:hover ul{ display: block;}
#menu>ul>li>ul>li{ border-bottom: 1px solid #d1e5ee;margin-left: -40px;}
#menu>ul>li>ul>li>a{padding:5px 0 5px 10px; color: #209abc; display: inline-block; width: 100%;}
#menu>ul>li>ul>li:hover a{
	color:#fff;
}
.TopicHeader {
font-weight: bold !important;
font-size: 13pt !important;
color: #cc6600;
font-family: Arial !important;
height: 24px;
padding: 0 0 0 5px;
}
.news-content{
padding-top: 10px;
}
.News_Summary {
color: #333333 !important;
font-family: 'Arial' !important;
font-size: 12px !important;
line-height:20px;
}
.SubHead {
font-size: 13px;
font-weight: bold;
color: #136998 !important;
text-transform: uppercase;
}
.News_DateNote {
font-family: Arial,Helvetica,sans-serif !important;
font-size: 12px !important;
color: Gray !important;
}
.divnoidungchinh{
text-align: justify;
}
.News_Title {
padding-bottom: 0px;
font-family: Arial,Helvetica,sans-serif;
font-size: 13px !important;
font-weight: bold !important;
color: #006699 !important;
margin-top: 0;
text-transform: uppercase;
}
.GridViewStyle {
font-family: Arial, Sans-Serif;
font-size: small;
table-layout: auto;
border-collapse: collapse;
border: #6EB6ED 1px solid;
border-bottom: #6EB6ED 1px solid;
color: #136998;
width:100%;
}
.HeaderStyle, .PagerStyle {
background-image: url(../images/HeaderBlue.png);
background-position: center !important;
background-repeat: repeat-x;
background-color: #6cdffe;
}
.HeaderStyle th {
padding: 5px;
color: #fff !important;
}
tr.RowStyle {
background-color: #f2f8ff;
border-bottom: #2ac8f3 1px solid !important;
}
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td {
padding-left: 5px;
padding-right: 5px;
border-right: solid 1px #2ac8f3;
border-bottom: #2ac8f3 1px solid !important;
text-align: center;
}
.ImageGallery_textBold {
font-family: Arial, Tahoma;
Font-Size: 12px;
font-weight: bold;
color: #666666;
padding: 10px 0 10px 0;
}
.ImageGallery_text {
font-family: Arial, Tahoma;
font-size: 12px;
color: #333333;
text-align: justify;
}
#loginBar {
color: #a5cae4;
background-color: rgb(27,27,27);
border-bottom: 1px solid #2096e1;
position: fixed;
z-index: 999;
top:0;
left:0;
width:100%;
height:10px;
}
#loginBarHandle {
font-size: 11px;
color: #f0f7fc;
background-color: rgb(27,27,27);
padding: 10px;
margin-right: 20px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
-khtml-border-bottom-right-radius: 10px;
border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
-khtml-border-bottom-left-radius: 10px;
border-bottom-left-radius: 10px;
position: fixed;
right: 0px;
top: 10px;
text-align: center;
z-index: 1000;
line-height: 20px;
-webkit-box-shadow: 0px 2px 5px #2096e1;
-moz-box-shadow: 0px 2px 5px #2096e1;
-khtml-box-shadow: 0px 2px 5px #2096e1;
box-shadow: 0px 2px 5px #2096e1;
}
#loginBarHandle a{
color: #fff;
}
.Module {
position: fixed;
right: 0;
top: 165px;
z-index: 888;
width: 56px;
}
.Module-left {
position: fixed;
left: 0;
top: 165px;
z-index: 888;
width: 56px;
}